{
	presets: [
		["@babel/preset-env", {
			"debug":true
		}], "@babel/preset-react"],
	plugins: [
		["@babel/transform-react-jsx", { "pragma": "SimpleDom.el" }],
		'@babel/plugin-proposal-class-properties'
	]
}
